.arrow-custom-danger {
  margin-top: 2px;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 24px solid #f8d7da;
}

.arrow-custom-info {
  margin-top: 2px;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 24px solid #d1ecf1;
}

.arrow-custom-warning {
  margin-top: 2px;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 24px solid #fff3cd;
}

.arrow-custom-success {
  margin-top: 2px;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  border-left: 24px solid #d4edda;
}

.without-border {
  border-color: transparent !important;
}

.center-notification {
  vertical-align: middle;
}

.text-button {
  cursor: pointer;
}

.notification {
  margin-top: 5px;
}

.mobile {
  position: absolute;
  z-index: 1000;
}

.text-mobile {
  word-wrap: break-word;
}

.align-right {
  justify-content: flex-end;
}