<div *ngFor="let message of messages" >
  <div *ngIf="message && message.isActive" class="row align-right notification d-none d-sm-flex animated" [ngClass]="{
           'fadeInRight': message.isUnResolved,
           'fadeOutRight': !message.isUnResolved
        }">
      <div class="alert alert-{{message.type}} without-border">
          <mat-icon class="center-notification">{{message.icon}}</mat-icon>
          &nbsp;
          <span class="center-notification">{{message.content | translate}} </span>
          &nbsp;
          <span class="center-notification text-button" (click)="closeMessage(message)"> x </span>
      </div>
      <div class="arrow-custom-{{message.type}}"></div>
  </div>
  <div *ngIf="message && message.isActive" class="row col-12 mobile d-block d-sm-none animated" [ngClass]="{
        'fadeInDown': message.isUnResolved,
        'fadeOutUp': !message.isUnResolved
        }">
      <div class="alert alert-{{message.type}}">
         <div class="row">
          <div class="col-1">
            <mat-icon class="center-notification">{{message.icon}}</mat-icon>
          </div>
          &nbsp;
          <div class="col-9 text-mobile center-notification">
                {{message.content | translate}}
          </div>
          &nbsp;
          <div class="col-1">
            <span class="col-sm center-notification text-button float-right"  (click)="closeMessage(message)"> x </span>
          </div>
        </div>
      </div>
  </div>
</div>