<div class="row screen d-none d-sm-flex">
  <div id="clouds">
      <div class="cloud x1"></div>
      <div class="cloud x1_5"></div>
      <div class="cloud x2"></div>
      <div class="cloud x5"></div>
  </div>
  <div class='c'>
      <div class='_404'>{{ 'PAGE_NOT_FOUND.CODE' | translate}}</div>
      <hr>
      <div class='_1'>{{ 'PAGE_NOT_FOUND.TITLE' | translate}}</div>
      <div class='_2'>{{ 'PAGE_NOT_FOUND.SUBTITLE' | translate}}</div>
      <a class='btn' [routerLink]="['/home']">{{ 'PAGE_NOT_FOUND.BACK_TO_HOME' | translate}}</a>
  </div>
</div>
<div class="row screen d-block d-sm-none">
  <div class='c'>
      <div class='_404'>{{ 'PAGE_NOT_FOUND.CODE' | translate}}</div>
      <hr>
      <div class='_1'>{{ 'PAGE_NOT_FOUND.TITLE' | translate}}</div>
      <div class='_2'>{{ 'PAGE_NOT_FOUND.SUBTITLE' | translate}}</div>
      <a class='btn' [routerLink]="['/home']">{{ 'PAGE_NOT_FOUND.BACK_TO_HOME' | translate}}</a>
  </div>
</div>