<footer>
    <div class="d-none d-sm-block row">
        <mat-toolbar class="md-scroll-shrink" color="primary">
            <span class="font-footer">{{'FOOTER.COPYRIGTH' | translate}}</span>
            <span class="example-spacer"></span>
            <div fxShow="true">
                <span class="font-footer">{{'FOOTER.FOLLOW_US' | translate}}</span>
                <a role="button" mat-icon-button href="#">
                    <mat-icon svgIcon="facebook-icon"></mat-icon>
                </a>
                <a role="button" mat-icon-button href="#">
                    <mat-icon svgIcon="twitter-icon"></mat-icon>
                </a>
                <a role="button" mat-icon-button href="#">
                    <mat-icon svgIcon="youtube-icon"></mat-icon>
                </a>
                <a role="button" mat-icon-button href="#">
                    <mat-icon svgIcon="instagram-icon" style="font-size:24 !important"></mat-icon>
                </a>
                <a role="button" mat-icon-button href="#">
                    <mat-icon svgIcon="whatsapp-icon"></mat-icon>
                </a>
            </div>
        </mat-toolbar>
    </div>
    <div class="d-block d-sm-none row">
        <mat-toolbar class="md-scroll-shrink" color="primary">
            <mat-toolbar-row class="justify-content-center">
                <div fxShow="true">
                    <span class="font-footer">{{'FOOTER.FOLLOW_US' | translate}}</span>
                    <a role="button" mat-icon-button href="#">
                        <mat-icon svgIcon="facebook-icon"></mat-icon>
                    </a>
                    <a role="button" mat-icon-button href="#">
                        <mat-icon svgIcon="twitter-icon"></mat-icon>
                    </a>
                    <a role="button" mat-icon-button href="#">
                        <mat-icon svgIcon="youtube-icon"></mat-icon>
                    </a>
                    <a role="button" mat-icon-button href="#">
                        <mat-icon svgIcon="instagram-icon"></mat-icon>
                    </a>
                    <a role="button" mat-icon-button href="#">
                        <mat-icon svgIcon="whatsapp-icon"></mat-icon>
                    </a>
                </div>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <span class="font-footer">{{'FOOTER.COPYRIGTH' | translate}}</span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</footer>