.example-icon {
  padding: 0 14px;
}
  
.example-spacer {
  flex: 1 1 auto;
}

.color-link-text {
  color: white !important;
  text-decoration: none;
}

.mat-toolbar.mat-primary {
  background: #3fb5a7 !important;
}